{% extends 'bootstrap/base.html' %}
<html>
    {% block head %}
<head>
{% block title %}
    <title>
    {% if title %}{{ title }}{% else %}Search Results{% endif %}
    </title>
{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search_res.css') }}">
</head>
{% endblock %}
{% block content %}
    <body>
        <div class="container"> 
        <h4><a  href="{{ url_for('index') }}">Go Back:</a></h4>
        <h1>Tweet Results for keyword : {{ kw }}</h1>
        {% for user in users %}
        <div class='alternate-color'><p>{{ user }}: <b>{{ km[user] }}</b></p><p></p></div>
        {% endfor %}
        </div>
    </body>
{% endblock %}
</html>